<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Directory Listing</title>
        <link rel="stylesheet" href="{{{base}}}/{{{themeUrl}}}" id="theme">
        <style type="text/css">
            body {
                margin: 1em;
            }
            a {
                color: white;
                display: block;
            }
        </style>

    </head>

    <body>
        <a href="{{{base}}}/build.zip"> Download ALL</a><br />
        {{{listing}}}
    </body>
</html>
